/*================================*/
/*      MAIN THEME STYLES         */
/*================================*/

a {
    text-decoration: none;
}
.content {
    padding: 50px;
    margin: auto;
    border: 2px solid red;
}